h1 {
  font-family: Georgia;
  font-size: 56px;
  text-align: center;
  color: blue;
}
.brand {
  height:19px;
  width: 300px;
  display: inline-block;
}
.nome {
  font-size: 16px;
  color: red;
  font-family: Sans-serif;
}

header {
  display: block;
  border: 5px double blue;
  background-color: wheat;
}
 body {
   background-color: tan;
 }

.mondo{
  height: 400px;
  width: 400px;
  border-radius: 10px 100px / 120px;
  padding-right: 50px;
  margin-right: 0;
}

 h3 {
font-family: Times;
 }

h2{
  border:2px double black;
}

.messa  {
  display: flex;
}

p{
  margin-right: 200px;
  text align: left;
}

*{
  padding: 0; //con questa modifica si elimina la scrollbar a lato e la pagina è più compatta
  margin: 0;
}

nav {
    display: flex;
    justify-content: center;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination li {
    margin: 0 1px;
}
