*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.page{
  position: relative;
width: 1440px;
height: 1827px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 16.16%, #00CBF8 75.26%), linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #00FAEB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.background {
position: absolute;
width: 829px;
height: 64px;
left: 251px;
top: 41px;
background: rgba(255, 255, 255, 0.34);
opacity: 0.7;
border: 3px solid rgba(10, 76, 244, 0.7);
border-radius: 50px;
position: absolute;
width: 1160px;
height: 33px;
left: 86px;
top: 72px;
}

 h1{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 28px;
/* or 79% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;

text-shadow: 0px 0px 3.5px #000000;
}
.earth{
position: absolute;
left: 321px;
top: 623px;
}


.svg{
  position: absolute ;
  width: 975.3px;
  height: 399.66px;
  left: calc(50% - 975.3px/2 + 18.65px);
  top: calc(50% - 399.66px/2 - 490.67px);
}
.pagination{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.pagination li {
    padding: 1px 1px 1px 1px;
    border: thin dotted green;
    margin: 0 1px;
    display: flex;
}
.component{
  position: relative;
width: 117.14px;
height: 177.94px;

}
