h1 {
  font-family: Georgia;
  font-size: 56px;
  text-align: center;
  color: blue;
}
.brand {
  border: 3px solid green;
  height:19px;
  width: 300px;
  display: inline-block;
}
.nome {
  font-size: 16px;
  color: red;
  font-family: Sans-serif;
}

header {
  display: block
}


.mondo{
  height: 500px;
  width: 500px;
}
