h1 {
  font-family: Georgia;
  font-size: 56px;
  text-align: center;
  color: blue;
}
.brand {
  height:19px;
  width: 300px;
  display: inline-block;
}
.nome {
  font-size: 16px;
  color: red;
  font-family: Sans-serif;
}

header {
  display: block;
  border: 5px double blue;
  background-color: wheat;
}
 body {
   background-color: tan;
 }

.mondo{
  height: 500px;
  width: 500px;
  border-radius: 10px 100px / 120px;
  padding-right: 400px;
}

 p {
font-family: Arial;
 }

h2{
  border:2px double black;
}
